@import 'variables';

.contacto__mapas {
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    &:hover {
        scale: map-get($efectoImagen, escala);
        opacity: map-get($efectoImagen, opaco);
    }
}

.contacto__section__div2__ul {
    font-size: 25px;
    list-style-type: none;
    text-align: justify;
}

.contacto__section__div2__ul__ul {
    font-size: 18px;
    list-style-type: circle;
    padding-left: 15px;
    text-align: justify;
}

.contacto__main__section__div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto__main__div {
    display: grid;
    grid-template-areas:
    "texto1"
    "mapa1"
    "texto2"
    "mapa2";
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

@media only screen and (min-width: 1024px) {
    .contacto__main__div {
    display: grid;
    grid-template-areas:
        "texto1 mapa1"
        "texto2 mapa2";
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    }
}

@for $i from 1 through 2 {
	.contacto__main__div__texto#{$i}{
        grid-area: texto#{$i};
        justify-self: center;
        text-align: left;
        width: 100%;
        padding-left: 10px;
	}
}

@for $i from 1 through 2 {
	.contacto__main__div__mapa#{$i}{
        grid-area: mapa#{$i};
        justify-self: center;
        align-self: center;
	}
}

.contacto__main__div__form {
    padding: 15px 40px 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}