@import 'variables';

.index__main__section__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (min-width: 992px) {
    .index__main__section__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.imagenLogos {
    width: 100%;
    height: 300px;
}

@media only screen and (min-width: 450px) {
    .imagenLogos {
        height: 320px;
    }
}

@media only screen and (min-width: 992px) {
    .imagenLogos {
        height: 380px;
    }
}

@media only screen and (min-width: 1200px) {
    .imagenLogos {
        height: 420px;
    }
}

.index__main__section {
    display: grid;
    grid-template-areas:
    "titulo1"
    "texto1"
    "titulo2"
    "texto2"
    "titulo3"
    "texto3";
    grid-gap: 0px;
    width: 100%;
    justify-items: center;
}

// @media only screen and (min-width: 1200px) {
@media only screen and (min-width: 768px) {
    .index__main__section {
        grid-template-areas:
        "titulo1 texto1 texto1"
        "texto2 texto2 titulo2"
        "titulo3 texto3 texto3";
        grid-gap: 0px;
        grid-template-rows: 140px 140px 140px;
    }
}

@media only screen and (min-width: 992px) {
    .index__main__section {
        grid-template-areas:
        "titulo1 texto1 texto1"
        "texto2 texto2 titulo2"
        "titulo3 texto3 texto3";
        grid-gap: 0px;
        grid-template-rows: 160px 160px 160px;
    }
}

@for $i from 1 through 3 {
	.index__main__section__titulo#{$i}{
        grid-area: titulo#{$i};
        width: 100%;
        height: 100%;
        color: $azul-mio;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h3 {
            font-size: 40px;
            margin: 0px;
        }
        @if $i == 2 {
            background-color: $celeste;
        }
	}
}

@media only screen and (min-width: 768px) {
    @for $i from 1 through 3 {
        .index__main__section__titulo#{$i}{
            grid-area: titulo#{$i};
            width: 170px;
        }
    }
}

@for $i from 1 through 3 {
	.index__main__section__texto#{$i}{
        grid-area: texto#{$i};
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $azul-mio;
        text-align: justify;
        padding: 20px;
        @if $i == 2 {
            border-top: solid $azul-mio;
            background-color: $celeste;
                }
        @else {
                border-top: solid $celeste;
        }
        p {
            font-size: 15px;
            margin: 0px;
        }
    }
}

@media only screen and (min-width: 768px) {
    @for $i from 1 through 3 {
        .index__main__section__texto#{$i}{
            grid-area: texto#{$i};
            @if $i == 2 {
                text-align: right;
                border-right: solid $azul-mio;
                border-top: none;
                padding-right: 20px;
                background-color: $celeste;
                    }
            @else {
                    border-left: solid $celeste;
                    border-top: none;
                    padding-left: 20px;
                    text-align: justify;
            }
        }
    }
}