@import 'variables';

.historia__main__texto {
    color: $azul-mio;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

.historia__main {
    display: grid;
    grid-template-areas:
    "fotoV"
    "fotoH1"
    "fotoH2"
    "fotoH3";
    grid-gap: 10px;
    img {
        border-radius: 30px;
        width: 250px;
        &:hover {
            scale: map-get($efectoImagen, escala);
            opacity: map-get($efectoImagen, opaco);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .historia__main {
    display: grid;
    grid-template-areas:
        "fotoV fotoH1"
        "fotoV fotoH2"
        "fotoH3 fotoH3";
    grid-gap: 10px;
    }
}

.historia__main__fotoV {
    grid-area: fotoV;
    justify-self: center;
    align-self: center;
}

@for $i from 1 through 3 {
	.historia__main__fotoH#{$i}{
        grid-area: fotoH#{$i};
        justify-self: center;
        align-self: center;
	}
}
