@import 'variables';

.historia__main__texto {
    color: $azul-mio;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

.historia__centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        max-height: 350px;
        max-width: 250px;
    }
}

.historia__main {
    display: grid;
    grid-template-areas:
    "foto1"
    "foto2";
    grid-gap: 10px;
    padding-bottom: 10px;
    img {
        border-radius: 30px;
        width: 100%;
        &:hover {
            scale: map-get($efectoImagen, escala);
            opacity: map-get($efectoImagen, opaco);
        }
    }
}

@media only screen and (min-width: 992px) {
    .historia__main {
    display: grid;
    grid-template-areas:
        "foto1 foto2";
    grid-gap: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .historia__main {
        padding-bottom: 0px;
    }
}

@for $i from 1 through 2 {
	.historia__main__foto#{$i}{
        grid-area: foto#{$i};
        justify-self: center;
        align-self: center;
	}
}