@import 'variables';

.imagenes__div__tamFotos__a {
    border-radius: 50px;
    padding: 25px;
    width: 250px;
    &:hover {
        scale: map-get($efectoImagen, escala);
        opacity: map-get($efectoImagen, opaco);
    }
}

.imagenes__div__centrar {
    justify-content: center;
}
