@import 'variables';

.sabores__section__div {
    h3 {
        text-decoration: underline;
        color: $azul-mio;
        margin-bottom: 0px;
    }
    li {
        padding: 5px;
        font-size: 22px;
        list-style-type: none;
        background-color: $blanco;
        p {
            color: $azul-mio;
            font-size: 15px;
            text-align: justify;
            margin-bottom: 0px;
        }
    }
}

.section__div {
    margin: 0px;
    padding: 0px;
}