.sabores__section__div h3 {
  text-decoration: underline;
  color: #1B4965;
  margin-bottom: 0px; }

.sabores__section__div li {
  padding: 5px;
  font-size: 20px;
  list-style-type: none;
  background-color: #F1FAEE; }
  .sabores__section__div li p {
    color: #1B4965;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 0px; }

.section__div {
  margin: 0px;
  padding: 0px; }

.historia__main__texto {
  color: #1B4965;
  font-size: 20px;
  text-align: justify;
  padding: 10px; }

.historia__main {
  display: grid;
  grid-template-areas: "fotoV" "fotoH1" "fotoH2" "fotoH3";
  grid-gap: 10px; }
  .historia__main img {
    border-radius: 30px;
    width: 250px; }
    .historia__main img:hover {
      scale: 105%;
      opacity: 0.8; }

@media only screen and (min-width: 1024px) {
  .historia__main {
    display: grid;
    grid-template-areas: "fotoV fotoH1" "fotoV fotoH2" "fotoH3 fotoH3";
    grid-gap: 10px; } }

.historia__main__fotoV {
  grid-area: fotoV;
  justify-self: center;
  align-self: center; }

.historia__main__fotoH1 {
  grid-area: fotoH1;
  justify-self: center;
  align-self: center; }

.historia__main__fotoH2 {
  grid-area: fotoH2;
  justify-self: center;
  align-self: center; }

.historia__main__fotoH3 {
  grid-area: fotoH3;
  justify-self: center;
  align-self: center; }

.imagenes__div__centrar {
  justify-content: center; }
  .imagenes__div__centrar img {
    border-radius: 50px;
    padding: 25px;
    width: 250px;
    height: 380px; }
    .imagenes__div__centrar img:hover {
      scale: 105%;
      opacity: 0.8; }

.contacto__main__section__div1 {
  display: flex;
  justify-content: center; }

.contacto__main__div__card__img {
  height: 400px; }

.contacto__main__div__form {
  padding: 15px 10% 15px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media only screen and (min-width: 768px) {
  .contacto__main__div__form {
    padding: 15px 25% 15px 25%; } }

.division {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid #1B4965; }

.boton {
  color: #F1FAEE;
  font-size: 15px;
  background-color: #1B4965; }

.index__main__section__logo {
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media only screen and (min-width: 992px) {
  .index__main__section__logo {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

.imagenLogos {
  width: 100%;
  height: 300px; }

@media only screen and (min-width: 450px) {
  .imagenLogos {
    height: 320px; } }

@media only screen and (min-width: 992px) {
  .imagenLogos {
    height: 380px; } }

@media only screen and (min-width: 1200px) {
  .imagenLogos {
    height: 420px; } }

.index__main__section {
  display: grid;
  grid-template-areas: "titulo1" "texto1" "titulo2" "texto2" "titulo3" "texto3";
  grid-gap: 0px;
  width: 100%;
  justify-items: center; }

@media only screen and (min-width: 1200px) {
  .index__main__section {
    grid-template-areas: "titulo1 texto1 texto1" "texto2 texto2 titulo2" "titulo3 texto3 texto3";
    grid-gap: 0px;
    grid-template-rows: 140px 140px 140px; } }

.index__main__section__titulo1 {
  grid-area: titulo1;
  width: 100%;
  height: 100%;
  color: #1B4965;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .index__main__section__titulo1 h3 {
    font-size: 40px;
    margin: 0px; }

.index__main__section__titulo2 {
  grid-area: titulo2;
  width: 100%;
  height: 100%;
  color: #1B4965;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #CAE9FF; }
  .index__main__section__titulo2 h3 {
    font-size: 40px;
    margin: 0px; }

.index__main__section__titulo3 {
  grid-area: titulo3;
  width: 100%;
  height: 100%;
  color: #1B4965;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .index__main__section__titulo3 h3 {
    font-size: 40px;
    margin: 0px; }

@media only screen and (min-width: 1200px) {
  .index__main__section__titulo1 {
    grid-area: titulo1;
    width: 170px; }
  .index__main__section__titulo2 {
    grid-area: titulo2;
    width: 170px; }
  .index__main__section__titulo3 {
    grid-area: titulo3;
    width: 170px; } }

.index__main__section__texto1 {
  grid-area: texto1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1B4965;
  text-align: justify;
  padding: 20px;
  border-top: solid #CAE9FF; }
  .index__main__section__texto1 p {
    font-size: 15px;
    margin: 0px; }

.index__main__section__texto2 {
  grid-area: texto2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1B4965;
  text-align: justify;
  padding: 20px;
  border-top: solid #1B4965;
  background-color: #CAE9FF; }
  .index__main__section__texto2 p {
    font-size: 15px;
    margin: 0px; }

.index__main__section__texto3 {
  grid-area: texto3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1B4965;
  text-align: justify;
  padding: 20px;
  border-top: solid #CAE9FF; }
  .index__main__section__texto3 p {
    font-size: 15px;
    margin: 0px; }

@media only screen and (min-width: 1200px) {
  .index__main__section__texto1 {
    grid-area: texto1;
    border-left: solid #CAE9FF;
    border-top: none;
    padding-left: 20px;
    text-align: justify; }
  .index__main__section__texto2 {
    grid-area: texto2;
    text-align: right;
    border-right: solid #1B4965;
    border-top: none;
    padding-right: 20px;
    background-color: #CAE9FF; }
  .index__main__section__texto3 {
    grid-area: texto3;
    border-left: solid #CAE9FF;
    border-top: none;
    padding-left: 20px;
    text-align: justify; } }

.carousel-inner {
  width: 100%;
  height: 100%; }
  .carousel-inner img {
    width: 100%;
    height: 100%; }

.carousel-inner__item {
  width: 100%;
  height: 100%; }

.index__main__carrucel {
  height: 200px;
  margin-top: 0px;
  margin-bottom: 30px; }

@media only screen and (min-width: 540px) {
  .index__main__carrucel {
    height: 300px; } }

@media only screen and (min-width: 768px) {
  .index__main__carrucel {
    height: 450px; } }

* {
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1FAEE; }

.color__button {
  border: 1px solid #F1FAEE; }

.color__button__span {
  background-image: url("assets/list.svg"); }

nav {
  background-color: #1B4965; }
  nav a {
    margin: 0;
    padding: 0;
    font-size: 20px; }
  nav img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0; }
  nav li {
    padding-left: 10px;
    padding-right: 10px; }
    nav li a {
      color: #F1FAEE; }

.nav__div__centrar {
  justify-content: center;
  margin-right: 56px; }

.button__fixed {
  position: fixed;
  top: 45vh;
  display: none; }

@media only screen and (min-width: 1200px) {
  .button__fixed {
    position: fixed;
    top: 45vh;
    display: block;
    margin: 0%;
    padding: 0%; }
    .button__fixed button {
      background-color: #1B4965;
      padding: 6px;
      border: #F1FAEE; } }

.active {
  color: #CAE9FF;
  font-weight: bold; }

footer {
  margin-top: 20px;
  background-color: #1B4965; }
  footer a {
    color: #F1FAEE;
    font-size: 15px; }
  footer p {
    color: #F1FAEE;
    font-size: 15px; }

.footer__activo {
  text-decoration: underline;
  font-weight: bold; }

h1 {
  color: #1B4965; }

.div__h1 {
  justify-content: center;
  text-align: center; }

.imagenRedonda {
  border-radius: 100%;
  width: 100%; }

/* Inicio Animacion Logo */
.rotar-logo:hover {
  animation-name: rotar;
  animation-duration: 1s;
  animation-iteration-count: 1; }

@keyframes rotar {
  0% {
    opacity: 1;
    transform: rotate(0deg); }
  10% {
    opacity: 0.9;
    transform: rotate(45deg); }
  20% {
    opacity: 0.7;
    transform: rotate(90deg);
    scale: 95%; }
  35% {
    opacity: 0.6;
    transform: rotate(135deg);
    scale: 92%; }
  50% {
    opacity: 0.5;
    transform: rotate(180deg);
    scale: 90%; }
  65% {
    opacity: 0.6;
    transform: rotate(225deg);
    scale: 92%; }
  80% {
    opacity: 0.7;
    transform: rotate(270deg);
    scale: 95%; }
  90% {
    opacity: 0.9;
    transform: rotate(315deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }

/* Fin Animacion Logo */
/* Inicio Animacion Texto */
.resaltar-texto {
  padding: 10px 10px 10px 10px; }
  .resaltar-texto:hover {
    animation-name: resaltar;
    animation-duration: 1s;
    animation-iteration-count: 1; }

@keyframes resaltar {
  0% {
    opacity: 1; }
  10% {
    opacity: 0.9;
    scale: 101%; }
  20% {
    opacity: 0.8;
    scale: 102%; }
  35% {
    opacity: 0.7;
    scale: 103%; }
  50% {
    opacity: 0.6;
    scale: 105%; }
  65% {
    opacity: 0.7;
    scale: 103%; }
  80% {
    opacity: 0.8;
    scale: 102%; }
  90% {
    opacity: 0.9;
    scale: 101%; }
  100% {
    opacity: 1; } }

/* Fin Animacion Texto */
